recursive-include EffectorP3/data/**
recursive-include *.md
recursive-include *.txt
recursive-include *.jar
recursive-include *.fasta
recursive-include *.arff
recursive-include *.txt
recursive-include *.model
