recursive-include EP3 *.md
recursive-include EP3 *.txt
recursive-include EP3 *.jar
recursive-include EP3 *.fasta
recursive-include EP3 *.arff
recursive-include EP3 *.txt
recursive-include EP3 *.model
