recursive-include EffectorP3 *.md
recursive-include EffectorP3 *.txt
recursive-include EffectorP3 *.jar
recursive-include EffectorP3 *.fasta
recursive-include EffectorP3 *.arff
recursive-include EffectorP3 *.txt
recursive-include EffectorP3 *.model
